
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <h1>Create a Product</h1>
</head>
<body>
<form method="post">
    <div class="container">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="Name" class="col-md-2">Name</label>
                <div class="col-md-10">
                    <input type="text" id="Name" name="Name" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="Price" class="col-md-2">Price</label>
                <div class="col-md-10">
                    <input type="number" id="Price" name="Price" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="ExpireDate" class="col-md-2">ExpireDate</label>
                <div class="col-md-10">
                    <input type="text" id="ExpireDate" name="ExpireDate" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-center">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
